//! **************************************************************************
// Written by: Map P.20131013 on Mon Jun 12 17:51:22 2017
//! **************************************************************************

SCHEMATIC START;
COMP "LEDPCten<0>" LOCATE = SITE "P20" LEVEL 1;
COMP "LEDPCten<1>" LOCATE = SITE "P21" LEVEL 1;
COMP "LEDPCten<2>" LOCATE = SITE "P24" LEVEL 1;
COMP "LEDPCten<3>" LOCATE = SITE "P25" LEVEL 1;
COMP "LEDPCten<4>" LOCATE = SITE "P27" LEVEL 1;
COMP "LEDPCten<5>" LOCATE = SITE "P28" LEVEL 1;
COMP "LEDPCten<6>" LOCATE = SITE "P29" LEVEL 1;
COMP "Clk_O" LOCATE = SITE "P57" LEVEL 1;
COMP "Reset" LOCATE = SITE "P54" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P12" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P13" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "P16" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P18" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P19" LEVEL 1;
COMP "LEDPC<0>" LOCATE = SITE "P55" LEVEL 1;
COMP "LEDPC<1>" LOCATE = SITE "P58" LEVEL 1;
COMP "LEDPC<2>" LOCATE = SITE "P59" LEVEL 1;
COMP "LEDPC<3>" LOCATE = SITE "P60" LEVEL 1;
COMP "LEDPC<4>" LOCATE = SITE "P62" LEVEL 1;
COMP "LEDPC<5>" LOCATE = SITE "P63" LEVEL 1;
COMP "LEDPC<6>" LOCATE = SITE "P64" LEVEL 1;
COMP "LEDSC<0>" LOCATE = SITE "P68" LEVEL 1;
COMP "LEDSC<1>" LOCATE = SITE "P69" LEVEL 1;
COMP "LEDSC<2>" LOCATE = SITE "P70" LEVEL 1;
COMP "LEDSC<3>" LOCATE = SITE "P71" LEVEL 1;
COMP "LEDSC<4>" LOCATE = SITE "P72" LEVEL 1;
COMP "LEDSC<5>" LOCATE = SITE "P75" LEVEL 1;
COMP "LEDSC<6>" LOCATE = SITE "P76" LEVEL 1;
COMP "LEDten<0>" LOCATE = SITE "P3" LEVEL 1;
COMP "LEDten<1>" LOCATE = SITE "P4" LEVEL 1;
COMP "LEDten<2>" LOCATE = SITE "P5" LEVEL 1;
COMP "LEDten<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "LEDten<4>" LOCATE = SITE "P7" LEVEL 1;
COMP "LEDten<5>" LOCATE = SITE "P8" LEVEL 1;
COMP "LEDten<6>" LOCATE = SITE "P10" LEVEL 1;
COMP "LEDs<0>" LOCATE = SITE "P87" LEVEL 1;
COMP "LEDs<1>" LOCATE = SITE "P88" LEVEL 1;
COMP "LEDs<2>" LOCATE = SITE "P90" LEVEL 1;
COMP "LEDs<3>" LOCATE = SITE "P91" LEVEL 1;
COMP "LEDwrr<0>" LOCATE = SITE "P77" LEVEL 1;
COMP "LEDwrr<1>" LOCATE = SITE "P78" LEVEL 1;
COMP "LEDwrr<2>" LOCATE = SITE "P79" LEVEL 1;
COMP "LEDwrr<3>" LOCATE = SITE "P82" LEVEL 1;
COMP "LEDwrr<4>" LOCATE = SITE "P83" LEVEL 1;
COMP "LEDwrr<5>" LOCATE = SITE "P84" LEVEL 1;
COMP "LEDwrr<6>" LOCATE = SITE "P85" LEVEL 1;
SCHEMATIC END;

